body {
    padding: 0px;
    margin: 0px;
    background: rgba(245, 236, 255, 0.575);
    font-family: 'Montserrat', sans-serif;
}

.myheader {
    margin: 20px 0;
    .container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
}

.card {
    margin: 10px auto;
    width: 100%;
}

h1,h2 {
    text-align: center;
}

.hidden {
    display: none !important;
}